.h1 {
    -fx-font-size: 25px;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: #606d79;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #606d79;
}

.button:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #606d79;
    -fx-border-color: #606d79;
}

.v-box {
    -fx-background-color: #ffffff;
}

.menu-button {
    /* Your MenuButton styles here */
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px 10px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.menu-button:hover {
    -fx-background-color: #dddddd;
}

.table-view {
    /* Your TableView styles here */
    -fx-background-color: #f0f0f0;
}

#vuelosDisponiblesTable,
#reservasDisponiblesTable {
    /* Your specific table styles here */
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

#vuelosDisponiblesTable .table-column,
#reservasDisponiblesTable .table-column {
    /* Styles for table columns */
    -fx-alignment: CENTER;
}
