.login-grid {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #606d79;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #606d79;
}

.button:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #606d79;
    -fx-border-color: #606d79;
}

.v-box {
    -fx-background-color: #ffffff;
}
